.footer#contact
  .container 
    .footer_info.d-sm-flex
      .col-lg-6.d-md-flex.m-md-auto.col-8
        .col-md-4.m-lg-auto
            h1.footer_h1 Будьте в курсе
            .col-sm-2.d-sm-flex
              i.fa.fa-phone-square
              a.media(href='tel:998938220305') +998938220305
            .col-sm-2.d-sm-flex
              i.far.fa-envelope
              a.media(href='mailto:opticcity@mail.ru') opticcity@mail.ru
            .col-sm-2.d-sm-flex 
              i.fab.fa-instagram
              a.media(href='https://www.instagram.com/diyorceek.me/following/') optic_city.ru
            .col-sm-2.d-sm-flex 
              i.fab.fa-telegram
              a.media(href='https://t.me/young_programmer2007') @opticcity.ru
            .col-sm-2.d-sm-flex
              i.fab.fa-facebook
              a.media(href='//www.facebook.com/opticcityru/') optic_city
            .col-sm-2.d-sm-flex 
              i.fab.fa-youtube
              a.media(href='') optictity
      .col-6.text-sm-center.align-self-sm-center
        h1.footer_h1 Платёжные системы
        img(src="/images/Screenshot_1.png", alt="")
    .col-lg-6.m-lg-auto.mt-lg-3 
      p.footer_p Ташкент, Чиланзарский район, улица Ибн-Сина, дом 24/5
  .footer_end
    .container
      .col-lg-5.m-lg-auto
        p.end Optic.city 2011-2021


script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
script(src= "/javascripts/script.js")
