extends layout 
block content 
    .container 
        .read_first.text-center
            .col-lg-9
                h3.read_h3 Как выбрать очки по форме лица: секреты идеальной оправы
                .images_read 
                    img(src="/images/formylica.jpg", alt="")
                    img(src="/images/formylica(1).jpg", alt="")
                    img(src="/images/formylica(2).jpg", alt="")
                p.phraze 
                    | Очки для зрения — незаменимый аксессуар, в котором важно чувствовать себя комфортно и при этом выглядеть на миллион. Подобрать оправу по форме лица — не сложно, но весьма ответственно. Поэтому нужно тщательно подойти к поискам аксессуара, который будет украшать вашу внешность каждый день. Советы о том, как найти идеальную оправу — далее в статье.
                h3.read_h3 
                    | Как правильно выбрать форму очков?
                p.phraze 
                    | Для начала встаньте перед зеркалом, откиньте волосы назад и внимательно присмотритесь: какую геометрическую форму напоминает ваше лицо? Как правило, бывают круглые, квадратные, ромбовидные, овальные и сердцевидные лица. Каждая форма имеет плюсы и минусы, но правильно выбранная оправа поможет изящно подчеркнуть достоинства и скрыть недостатки. Ведь об этом мечтают все, не так ли?
                .boxes
                    p.phraze 
                        | Если у вас широкие лоб и подбородок, пухлые щеки, то вы обладаете круглым типом лица. В таком случае обратите внимание на очки с широкой оправой квадратной формы 
                    .img_boxes.d-flex
                        img(src="/images/first.jpg", alt="")
                        img(src="/images/first_first.jpg", alt="")
                .boxes
                    p.phraze 
                        | У лиц квадратной формы массивный подбородок, широкие скулы, а линия челюсти заостренная. Обладательницам этого типа советуем присмотреться к оправе круглой формы с высокой переносицей  
                    .img_boxes.d-flex
                        img(src="/images/seond.jpg", alt="")
                        img(src="/images/seond_second.jpg", alt="")
                .boxes
                    p.phraze 
                        | Ромбовидная и сердцевидная формы лица похожи: широкие лоб и скулы, маленький подбородок. Главная задача очков для таких типов — максимально сбалансировать и сгладить острые черты лица. В этом помогут закругленные оправы с плавными углами, например, 
                    .img_boxes.d-flex
                        img(src="/images/third.jpg", alt="")
                        img(src="/images/third_third.jpg", alt="")
                .boxes
                    p.phraze 
                        | Визажисты и фотографы считают овальную форму идеальной. И не зря, ведь девушкам с овальным лицом подходят все очки, помимо чересчур массивных вариаций. Классическая оправа «панто», очки-кошечки или, может, прямоугольные 
                    .img_boxes.d-flex
                        img(src="/images/four.jpg", alt="")
                        img(src="/images/four_four.jpg", alt="")
                    p.phraze 
                        | Мы хотим, чтобы вы носили очки с удовольствием, поэтому предлагаем также прочитать нашу статью о том, как правильно выбрать оправу. Надеемся, эти советы будут для вас полезны и помогут подобрать аксессуар мечты!