extends layout 
block content 
    .container 
        .read_first
            .col-lg-9
                .grow.text-center
                    h3.read_h3 Как правильно выбрать солнцезащитные очки?
                    .images_read
                        img(src="/images/read4.jpg", alt="").image2
                    p.phraze 
                        | Солнечные очки — аксессуар, который оберегает наши глаза от вредных ультрафиолетовых лучей. К сожалению, многие воспринимают очки как дань моде, а не средство защиты. Выбирать их нужно с особой ответственностью, обращая внимание на маркировку солнцезащитных очков, форму оправы, материал и цвет линз. Пренебрежение солнцезащитными очками может повлиять на общее самочувствие: привести к головной боли и повышению артериального давления. Качественная модель поможет сохранить здоровье глаз, предотвратить морщины и прослужит вам длительное время. Как правильно выбрать аксессуар, чтобы потом остаться довольными покупкой?
                    h3.read_h3 Маркировка очков
                    p.phraze 
                        | С виду незаметные надписи на дужках могут многое рассказать об аксессуаре.
                    .img_boxes 
                        img(src="/images/read5.jpg", alt="").image1
                ul 
                    li.phraze - На очках обязательно присутствует название бренда и модели. Иногда производители пишут сокращенно, например, RB – Ray-Ban и т.п.
                    li.phraze - Надпись «Made in» или «Hand Made in» обозначает страну, в которой очки были изготовлены. Вариации «designed», «produced», «frame» являются признаком подделки.
                    li.phraze - Отметка «CЄ» подтверждает, что очки соответствуют европейским стандартам качества.
                    li.phraze - Обозначение степени защиты от ультрафиолета — важная часть маркировки очков. Однако не все производители ее указывают. Надпись «UV 400» означает полную защиту от УФ-лучей. Иногда степень защиты обозначают по шкале от s4 (самая высокая) до s1 (самая низкая). Эта маркировка часто встречается на горнолыжных очках.
                    li.phraze - Размер аксессуара обозначают символами #, □, @, $ и цифрами сбоку от них. Символ # означает ширину линзы, @ — ширину моста между линзами или их расстояние, $ — длину заушника, а □ отображает высоту линзы.
                .grow.text-center
                    img_boxes 
                        img(src="/images/read6.png", alt="").image1
                    h3.read_h3 Материал линз
                p.phraze
                    | Немаловажный аспект при выборе очков — то, из чего изготовлены линзы. Сегодня большинство производителей используют полимерные материалы. Если вам необходимы солнцезащитные очки с диоптриями, на нашем сайте вы можете выбрать:
                ul 
                    li.phraze - линзы CR-39, которые считаются стандартными и подходят к любой оправе;
                    li.phraze - линзы Trivex — прочные и травмобезопасные. Их применяют как при изготовлении спортивных моделей, так и брендовых солнечных очков. Trivex рекомендуют вставлять в безободковые оправы;
                    li.phraze - поликарбонатные линзы отлично подходят для детских и спортивных очков. Они легкие, нетравматичные и на 100% не пропускают УФ-лучи; Blue Block — тонкие линзы, которые блокируют синие лучи в диапазоне 420 нм. Такие очки нужно носить только при использовании компьютера, телефона или планшета, ведь они снижают интенсивность излучения от экрана.
                p.phraze 
                    | Некоторые производители изготавливают очки с минеральными линзами. Такие модели отлично защищают от ультрафиолета. При высокой диоптрийной силе они могут быть тяжелее, чем пластиковые.
                p.phraze 
                    | Как правило, на линзы наносятся специальные покрытия:
                ul 
                    li.phraze - покрытие против царапин;
                    li.phraze - дополнительная защита от ультрафиолета;
                    li.phraze - антибликовое покрытие.
                .grow.text-center
                    h3.read_h3 Цвет линз
                    p.phraze 
                        | Сейчас особо популярны фиолетовые, красные, синие, розовые и оранжевые цвета линз. Такие разноцветные очки выглядят ярко и необычно. Однако если вы хотите полностью защитить свои глаза, то лучше выберите модели с коричневыми, серыми или темно-синими линзами. Коричневые и янтарные цвета уменьшают блики, в то время как серые — снижают яркость. Запомните, что линзы розового, голубого и фиолетового цвета не защищают от солнечных лучей, которые могут навредить вашим глазам. Поэтому их лучше носить как украшение или как имиджевый аксессуар.
                    .img_boxes 
                        img(src="/images/read7.jpg", alt="").image1
                    h3.read_h3 Дополнительные опции солнечных очков
                    h4.read_h4 1. Поляризация
                    p.phraze 
                        | Линзы с поляризацией защищают глаза от ярких солнечных бликов благодаря специальному покрытию. Очки с этой опцией рекомендуют надевать при вождении, во время занятий водными и зимними видами спорта. На нашем сайте представлены модели с поляризационными линзами, например – Ray-Ban
                    .img_boxes 
                        img(src="/images/read8.jpg", alt="").image1
                    h4.read_h4 2. Фотохромные линзы
                    p.phraze 
                        | Они темнеют на солнце и становятся прозрачными в помещении. В нашем магазине представлены фотохромные линзы двух поколений. Это стандартный фотохром, который реагирует только на солнечные лучи (на открытом воздухе) и Transitions®, который реагирует на интенсивность светового потока и в помещении, и на улице. Вы можете выбрать серую, коричневую или зеленую цветовую опцию. Если вас заинтересовали очки с фотохромными линзами, обратите внимание на модель Serengeti Classics  
                    .img_boxes 
                        img(src="/images/read9.jpg", alt="").image1
                    h4.read_h4 3. Градиентные линзы
                    p.phraze 
                        | Благодаря затемнению в верхней части, линзы с градиентом защищают глаза от ультрафиолета. На нашем сайте вы можете выбрать градиентные линзы в таких цветовых опциях: зеленой, розовой, серой и коричневой. Если вы хотите приобрести очки с градиентом, присмотритесь к модели Carrera CARRERA
                    .img_boxes 
                        img(src="/images/read10.jpg", alt="").image1
                    h4.read_h4 Форма оправы
                    p.phraze 
                        | Внешний вид очков — решающий фактор для многих покупателей. Авиаторы, «кошачий глаз» или квадратная оправа — выбор всегда за вами. При покупке аксессуара важно учитывать индивидуальные особенности внешности. О том, как правильно подобрать очки по форме лица, мы писали в нашей статье . Если вы хотите защитить от солнца не только глаза, но и чувствительную кожу вокруг них, выбирайте модели с большими линзами, например Chloe CE114S. . Старайтесь носить очки всегда, когда выходите на улицу. Ведь чем меньше мы щуримся от солнца, тем больше вероятность предотвратить мимические морщины. 
                    .img_boxes 
                        img(src="/images/read11.jpg", alt="").image1
                    p.phraze 
                        | Надеемся, что наши советы помогут вам выбрать подходящие солнцезащитные очки. Зрение — невероятный дар, который дала нам природа. Берегите глаза, оставаясь при этом стильными и элегантными!