extends layout 
block content 
    .container 
        .read_first
            .col-lg-9
                .grow.text-center
                    h3.read_h3 Как правильно выбрать очки для зрения?
                    .images_read
                        img(src="/images/read12.jpg", alt="").image2
                    p.phraze 
                        | Около 80% информации от окружающего мира мы получаем благодаря зрению. Современный темп жизни предусматривает частое использование всевозможных гаджетов, которые пагубно влияют на глаза. Но чтобы в будущем не ухудшалось зрение, следует правильно подойти к поиску очков. В этой статье мы расскажем, как выбрать модель очков, которая обеспечит комфорт и хорошее видение.
                    h3.read_h3 Критерии выбора качественных очков
                ul
                    li.phraze.span - Рецепт. Прежде чем приобрести очки, нужно проверить зрение у врача-офтальмолога. Он выпишет индивидуальный рецепт, который необходим при изготовлении линз.
                    li.phraze.span - Линзы. Их стоит выбирать согласно рецепту и типу оправы. Например, в интернет-магазине OptiX.su есть встроенная медицинская программа, которая анализирует эти факторы. Таким образом, она рекомендует наиболее комфортные линзы, предоставляя при этом покупателю свободу выбора. Детально про виды линз можно прочитать в разделе "Помощь".
                    li.phraze.span - Размер. Правильно подобранный размер очков – залог их комфортного ношения. Как правило, на внутренней стороне дужки указана маркировка, которая поможет сориентироваться при покупке аксессуара.
                    li.phraze.span - Материал. Нужно также обращать внимание на то, из чего сделана оправа. Обычно качественные очки изготавливают из прочного пластика или титана.
                    li.phraze.span - Цвет. Этот критерий очень индивидуален – стоит выбирать цвет оправы соответственно стилю и вкусу. Наиболее универсальными являются черные и коричневые вариации.
                    li.phraze.span - Форма оправы. Приобретая очки, нужно учитывать также особенности собственной внешности. Беспроигрышным вариантом является подбор оправы по типу лица. О том, как правильно выбрать форму очков, мы писали ранее в нашем блоге.
                .grow.text-center
                    .images_read
                        img(src="/images/read13.jpg", alt="").image2
                    h3.read_h3 Выбор стильных оправ на каждый день
                    p.phraze 
                        | Присмотритесь к универсальным моделям, которые подойдут вашему повседневному образу и не только.
                    p.phraze 
                        | Минимализм и хрупкость безободковой оправы украсит даже обыденный образ. Унисекс очки Ray-BanRX8747 можно использовать на работе, а также вне ее.
                    .images_read
                        img(src="/images/read14.jpg", alt="").image2
                    p.phraze
                        | Оправа в стиле Wayfarer – незаменимая классика, которая всегда пользуется большим спросом. Присмотритесь к бюджетной модели Infinity 1219. Возможно, она дополнит ваш ежедневный наряд.
                    .images_read
                        img(src="/images/read15.jpg", alt="").image2
                    p.phraze 
                        | Прямоугольные очки для зрения способны сделать взгляд более серьезным и выразительным. Обратите внимание на оправу Savannah 2264, которая будет гармонично смотреться на круглом или овальном лице.
                    .images_read
                        img(src="/images/read16.jpg", alt="").image2
                    p.phraze 
                        | Благодаря лаконичному дизайну, Nike 7113 можно носить как очки для работы, так и для домашнего времяпрепровождения. А форма оправы “панто” остается актуальной даже несмотря на быстротечность модных тенденций.
                    .images_read
                        img(src="/images/read17.jpg", alt="").image2
                    p.phraze 
                        | Надеемся, что эта статья помогла вам узнать, как правильно подобрать аксессуар и оправу подходящей формы. Будьте здоровы и носите только качественные очки для зрения 🙂

